svg.vtree {
  overflow: hidden;
  background: #ffffff;
  border: 1px solid black;
}

input[type="button"] {
  font-size: medium;
  border: 1px solid black;
}

textarea{
  font-size: smaller;
  border: 1px solid black;
}